@model Page1Model

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    Aantal kibbeling:
    @Model.AmountOfKibbeling
    Prijs per kibbeling:
    @($"{Model.PricePerUnit:C}")
    Totaalprijs:
    @($"{Model.TotalPrice:C}")
</div>
</body>
</html>